body{
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4c68;
    color: white;
}
h1{
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    
}
h3{
    font-family: "montserrat";
    font-weight: bold;
    font-size: 1.2rem;
    
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15%;
}
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "montserrat";
}

.download-button{
    margin: 5% 3% 5% 0;
}
.tittle-image{
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff46c8;
}
#testimonials{
   
 text-align: center;
 background-color: #ef8172; 
 color: white;
}
h2{
    font-family: "montserrat";
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%; 
}
#press{
    background-color: #ef8172; 
    text-align: center;
    padding-bottom: 3%;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-colu{
    padding: 3% 2%;
}
@media (max-width: 1028px){
    .tittle-image{
        position: static;
        margin-top: 20px;
        transform: rotate(0);
        

    }
    #title{
        text-align: center;
    }
    

}
#cta{
    background-color: #ff4c68;
    color: white;
    font-family: "montserrat-black";
    text-align: center;
    padding: 7% 15%;
}
.cta-txt{
    font-size: 3rem;
}
#footer{
    text-align: center;
    padding: 3% 15%;
    background-color: white;

}
.footer-font{
    margin: 10px 10px 18px;
}